@keyframes loading {
    0% {
        background-position-x: 200%;
    }

    100% {
        background-position-x: -200%;
    }
}

.loading {
    animation: loading 10s infinite;
    background-size: 400%;
}

.loading {
    @apply from-[#fff2] via-[#fff1] to-[#fff2] bg-gradient-to-r rounded
}

.loading {
    @apply bg-[#fff2]
}