@keyframes gradient-loading {
    0% {
        background-position-x: 200%;
    }

    100% {
        background-position-x: -200%;
    }
}

.gradient-loading {
    animation: gradient-loading 10s infinite;
    background-size: 400%;
}

.gradient-loading {
    @apply from-[#fff1] via-[#fff0] to-[#fff1] bg-gradient-to-r rounded
}

.gradient-loading {
    @apply bg-[#fff1]
}