@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.mask {
    -webkit-mask-image: linear-gradient(transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(transparent 0%, black 10%, black 90%, transparent 100%);
}