@tailwind base;
@tailwind utilities;
@tailwind components;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.mask {
    -webkit-mask-image: linear-gradient(transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(transparent 0%, black 10%, black 90%, transparent 100%);
}

.center {
    @apply items-center justify-center
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

html {
    @apply text-white bg-zinc-900
}

img {
    @apply bg-white bg-opacity-20
}

img[alt] {
    @apply text-xs text-center overflow-hidden
}

/* change to * to debug */
.debug {
    outline: 1px solid #f00 !important;
}

.active-opacity:hover {
    @apply bg-white bg-opacity-20
}