@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.mask {
    -webkit-mask-image: linear-gradient(transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(transparent 0%, black 10%, black 90%, transparent 100%);
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* change to * to debug */
.debug {
    outline: 1px solid #f00 !important;
}

@keyframes spring {
    from {
        transform: scaleY(50%);
    }
}

.animate-spring {
    animation: alternate infinite spring;
}


@keyframes explode {
    to {
        opacity: 0;
        transform: scale(300%);
    }
}


.animate-explode {
    animation: explode 1s;
}